.logo{
    /* padding: 0px 0px 0px 15px !important; */
    padding: 0px !important;
}
.menu{
    padding: 10px 15px;
}

.ui.secondary.pointing.menu .item.header {
    padding: .5em 1.14285714em .5em 0.6em;
    font-size:1.3em;
    
}

.ui.secondary.pointing.menu .item.right.logout {
    background: #ff2727d2;
    border-radius: 15px;
    color:#fff;
    cursor:pointer;
}

.ui.secondary.pointing.menu .item.right.logout:hover {
    background: #d80c0ce0;
}

.right .item{
    margin-top: 2px !important;
}