.navBar{
    width: 100%;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.home{
    display: inline-block;
    height: 60px;
    cursor: pointer;
}

.home img{
    display: inline-block;
    padding: 10px 0 0 10px;
}

.home h1{
    display: inline-block;
    padding: 20px 10px;
}

ul {
    display: inline-block;
    list-style-type: none;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
}

li {
    float: left;
    height: 60px;
}

li a {
    display: block;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
}

#login{
    float: right;
}

li a:hover:not(.active) {
    background-color: #8cc63f;
    color:white;
}

.active {
    background-color: #4CAF50;
}